<!DOCTYPE html>
<html lang="{{ html_lang }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ pageTitle }}{{ title }}</title>
    <meta name="description" content="">
    <link rel="stylesheet" href="css/font/stylesheet.css">
    <link rel="stylesheet" href="css/style.css?v={{ version }}">
    <script src="js/svg-symbols.js?v={{ version }}"></script>
</head>
<body>

<div class="svg-placeholder" style="border: 0; clip: rect(0 0 0 0); height: 1px;
        margin: -1px; overflow: hidden; padding: 0;
        position: absolute; width: 1px;"></div>
<script>
    document
        .querySelector('.svg-placeholder')
        .innerHTML = SVG_SPRITE;
</script>

{% block content %}{% endblock %}

<script src="js/main.js?v={{ version }}"></script>
</body>
</html>
