@font-face {
    font-family: 'Onest';
    src: url('Onest-Bold.woff2') format('woff2'),
        url('Onest-Bold.woff') format('woff'),
        url('Onest-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Onest';
    src: url('Onest-SemiBold.woff2') format('woff2'),
        url('Onest-SemiBold.woff') format('woff'),
        url('Onest-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Onest';
    src: url('Onest-Medium.woff2') format('woff2'),
        url('Onest-Medium.woff') format('woff'),
        url('Onest-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Onest';
    src: url('Onest-Regular.woff2') format('woff2'),
        url('Onest-Regular.woff') format('woff'),
        url('Onest-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

