// Typography
body {
  font-family: $base-font;
  font-weight: normal;
  color: $base-text-color;
  font-size: calculateRem(16px);
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6,
.h {
  display: block;
  font-family: $base-font;
  font-weight: bold;
  margin: 0;
  color: $black;
}

strong {
  font-weight: 600;
}

a {
  color: $blue;
  font-weight: normal;
  transition: $animation-speed ease;
  //transition-property: color, border-color;
  text-decoration: none;
  //border-bottom: 1px solid;
  border-color: $blue;

  //&:hover,
  //&:focus {
  //  color: currentColor;
  //}
}

.btn {
  display: inline-flex;
  background: $light-green;
  color: $green;
  @extend %transition;
  border: 1px solid transparent;
  font-weight: normal;
  @include fontSize(18px);
  padding: calculateRem(20px);
  align-items: center;
  justify-content: center;
  line-height: calculateRem(24px);
  width: max-content;
  cursor: pointer;

  &:hover, &:focus {
    background: $white;
    border-color: currentColor;
  }

  &--with_icon {
    svg {
      margin-right: calculateRem(9px);
    }
  }

  &--small {
    @include fontSize(14px);
    padding: calculateRem(10px) calculateRem(16px);
  }

  @include media("<=tablet") {
  }
}

.link {
  display: inline-block;
  color: $green;
  font-weight: 500;
  padding-bottom: 2px;
  @include fontSize(16px);

  svg {
    margin-left: calculateRem(13px);
  }

  &:hover {

  }

  @include media("<=tablet") {
    font-size: 14px;
    svg {
      margin-left: 13px;
    }
  }

}

@each $name, $color in $colors {
  .btn-#{$name} {
    color: $white;
    background: $color;

    &:hover, &:focus {
      background: $white;
      color: $color;
      border-color: currentColor;
    }
  }

  .btn-#{$name}-transparent {
    color: $color;
    background: transparent;
    border-color: $color;

    &:hover, &:focus {
      border-color: $color;
      background: $color;
      color: $white;
    }
  }

}

.text-center {
  text-align: center !important;
  justify-content: center;
}

