.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  padding: calculateRem(20px);

  $this: &;

  p {
    color: $gray;
  }

  h2 {
    font-size: calculateRem(18px);
    line-height: normal;
  }

  &__title {
    margin-bottom: calculateRem(24px);
    font-size: calculateRem(24px);
  }

  &__form {
    padding: calculateRem(24px);
    position: relative;
    width: 100%;
    max-width: calculateRem(665px);
    border: 1px solid #DCDCDC;
    background-color: $white;

    &.error {
      #{$this}__title {
        @extend %displayFlex;
        background-color: $blue;
        padding: calculateRem(16px);
        margin-bottom: calculateRem(24px);
        color: $white;

        a {
          color: $white;
        }
      }

      h2 {
        margin-bottom: calculateRem(16px);
        font-size: calculateRem(24px);
      }
    }
  }

  &__image {
    margin: 0 auto calculateRem(16px);
    @include size(calculateRem(96px));

    img {
      @include size(100%);
      object-fit: contain;
    }
  }

  &__item {
    margin-bottom: calculateRem(24px);

    &:last-child {
      margin-bottom: 0;
    }

    label {
      color: $black;
      margin-bottom: calculateRem(12px);
      font-weight: bold;
      line-height: normal;
    }
  }

  &__file {
    display: flex;
    align-items: center;
    position: relative;
    padding: calculateRem(24px);
    border: 1px solid #DCDCDC;
    background-color: $white;

    &__icon {
      color: $blue;
      margin-right: calculateRem(24px);
    }

    &__text {
      flex: 1;
      @extend %displayFlex;

      h2 {
        color: $blue;
      }
    }
  }

  &__link {
    position: relative;
    @extend %displayFlex;
    padding: calculateRem(24px);
    border: 1px solid #DCDCDC;
    background-color: $blue;
    color: $white;

    p {
      color: $white;
      margin-left: calculateRem(16px);
    }

    &__btn {
      display: flex;
      align-items: center;
      cursor: pointer;
      padding: calculateRem(8px) calculateRem(16px);
      background-color: #DDE2FF;
      color: $blue;
      margin-left: auto;
      position: relative;

      svg {
        margin-right: calculateRem(16px);
      }
    }

    &__msg {
      position: absolute;
      bottom: 100%;
      margin-left: calculateRem(44px);
      white-space: nowrap;
      top: 50%;
      transform: translateY(-50%);
      left: 100%;
      background: $black;
      box-shadow: 0 4px 73.8px -2px rgba(0, 0, 0, 0.10);
      display: flex;
      justify-content: center;
      padding: calculateRem(16px) calculateRem(16px) calculateRem(16px) calculateRem(24px);
      pointer-events: none;
      animation: bounce 2s ease infinite;
      color: $white;
      font-weight: 500;
      height: max-content;

      svg {
        margin-left: calculateRem(16px);
        margin-right: 0;
      }

      &:after {
        content: '';
        position: absolute;
        right: 100%;
        top: 50%;
        transform: translateY(-50%);
        background-image: url("../images/chevron.svg");
        background-size: contain;
        background-repeat: no-repeat;
        width: calculateRem(12px);
        height: calculateRem(22px);
      }

      &.hide {
        opacity: 0;
      }

      &.top-bar-msg {
        position: fixed;
        transform: unset;
        top: calculateRem(30px);
        left: calculateRem(150px);
        z-index: 5;
        animation: bounce-top 2s ease infinite;
        @extend %transition;
        opacity: 0;

        &:after {
          top: auto;
          bottom: 91%;
          transform: translateX(-50%) rotate(90deg);
          left: 50%;
        }

        &.active {
          opacity: 1;
        }
      }

      @keyframes bounce {
        0%, 20%, 50%, 80%, 100% {
          transform: translateX(0) translateY(-50%);
        }
        40% {
          transform: translateX(calculateRem(-30px)) translateY(-50%);
        }
        60% {
          transform: translateX(calculateRem(-15px)) translateY(-50%);
        }
      }

      @keyframes bounce-top {
        0%, 20%, 50%, 80%, 100% {
          transform: translateY(0);
        }
        40% {
          transform: translateY(calculateRem(-30px));
        }
        60% {
          transform: translateY(calculateRem(-15px));
        }
      }
    }
  }

  &__pass {
    text-align: center;
    background-color: #DDE2FF;
    color: $blue;
    padding: calculateRem(16px) calculateRem(24px);

    h2 {
      font-size: calculateRem(22px);
      color: inherit;
    }

    p {
      color: inherit;
    }
  }
}