{% extends "../templates/layout.njk" %}
{% block content %}
    <!-- 404 not found -->
    <section class="main">
        <div class="main__form error text-center">

            <h1 class="main__title">
                Error
                <a href="#">
                    <svg xmlns="http://www.w3.org/2000/svg" width="2.4rem" height="2.4rem">
                        <use xlink:href="#svg-close"></use>
                    </svg>
                </a>
            </h1>
            <div class="main__file__text text-start d-block">
                <h2 class="text-black">This link doesn’t exist or wrong address</h2>
                <p>Probably, you have writed incorect adress, try again</p>
            </div>
        </div>
    </section>
    <!-- 404 not found -->
{% endblock %}